@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
    font-family: 'Roboto';
    margin: 0px;
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    flex-flow: row nowrap;
}

nav a {
    display: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 2vmin;
}

nav a:hover {
    background-color: darkgray;
    color: black;
}

.categoria {
    font-size: 3vmin;
}

.contenedor {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
}

.contenedor img {
    width: 100px;
    height: auto;

    @media screen and (min-width: 768px) {
            width: 150px;
            height: auto;
        }
}

.contenedor img:hover {
    box-sizing: border-box;
    border: 1px solid darkgray;
    transform: scale(1.2);

    
}

nav > a:first-child {
    display: inline-block;
}

nav > a:first-child > img {
    width: 20px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .contenedor img {
        width: 150px;
        height: auto;
    }

    nav > a {
        display: inline-block;
    }

    nav > a:first-child {
        display: none;
    }

}

@media (min-width: 992px) {
    .contenedor img {
        width: 200px;
        height: auto;
    }

    nav > a {
        display: inline-block;
    }

    nav>a:first-child {
        display: none;
    }
}

